.top-bar, .top-bar ul {
    background-color: $nav-background
}

.top-bar {
    .menu-text {
        color: $nav-text-color
    }

    .active {
        font-weight: bold;
    }

    a {
        color: $lightblue;
    }

    a:hover {
        color: white
    }
}
